body{
  font-family: 'Oswald', sans-serif;
  color: #000000;
  overflow: hiddMen !important;
  background-color: #ffffff;
  padding-left: 2em;
  text-align: left;
}

.menu{
  background-color: #000000;
}

.contenido{
  background-color: #ffffff;
  height: 300vh;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 5em;
  padding-bottom: 2em;

}


.detalle{
padding-top: 2em;
padding-right: 2em;
width: 300px;
right: 40px;
width: auto;
height: 100%;
list-style: none;
line-height: 20px;
text-align: left;
}

.Logo{
  background: pink;
  height: 100px;
  width: 100xp;

}
.main-img{
  width: 50%;
  height: auto;
}
.cuadro{
  width: 800px;

}

.link{
  margin-bottom: 2.8em;
}

.bar{
  position: fixed;
}

@media screen and (max-width: 1100px){
  .bar {
    position: relative;
  }
}
@media screen and (max-width: 300px){
  .bar {
    position: relative;
    align: center;
  }
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

ul3{
  float: none;
  position: relative;
  display: inline-block;
  padding-top: em;
  align-self: auto;
}
a{
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.6;
  padding-left: 2em;
}

.active{
  color: #f59b17;

}
a:hover{
  color: #f59b17;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}
.anexo{
  color: #3d3868 ;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.6;
  padding-top: 1em;
  padding-bottom: 1em;
}

.anexo:hover{
  color: #f59b17;
  text-decoration: underline;
  text-decoration-color: #1c2931;
}
.anexo2{
  color: #3d3868 ;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.6;
  padding-bottom: 1em;
}
.gris{
  filter: grayscale(1);
  transition:all ease-out 1s;


}
p{
  font-family: 'Nunito', sans-serif;
  padding-bottom: 0.5em;
  padding-right: 2em;
  font-size: 14px;
}
p2{
  font-size: 14px;
  font-family: 'Nunito', sans-serif;


}
p3{
  font-family: 'Nunito', sans-serif;
  padding-bottom: 0.5em;
  padding-right: 2em;
  font-size: 14px;
}
element.style {
    width: 100%;
    cursor: pointer;
}

.portada{
  padding-top: none;
  padding-bottom: 1em;
}





.row > .column3 {
  padding: 0 8px;
  align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  align: center;
}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 900px;
  align: center;
}

/* The Close Button */
.close {
  color: #f59b17;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #f59b17;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
